:root{
  background-color: #F2F2F2;
}

.App {
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

@media only screen and (max-width: 660px) {

    .cardContainer{
      flex-direction: column;
    }

  
}