.addCard{
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    align-self: center;
    transition: 0.3s;

    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 660px) {

    .addCard{
    margin-top: 20px;
    }

  
}
.addCard:hover{
    box-shadow: 0px 10px 5px -5.5px rgba(0,0,0,0.10);
}

.addCard > h1 {
    font-size: 72px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.addCard > h2 {
    margin-block-start: 5px;
}